{% extends 'base.html' %}

{% block body %}
    <style>

        h1 {
            color: RED;
        }

        p {
            font-family: monospace;
        }

        #homepage {
            margin: 100px 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

    </style>
    <div id="homepage">
        <img src="../static/images/images (13).jpeg">
        <div>
            <h1>LET START JOURNEY</h1>
            <p>
                Exp Trac web application helps<br>
                you to maintain budget<br>
                and analyse the expense.
            </p>
            <a class="btn btn-outline-dark" href="/add">Let's Begin</a>
        </div>
    </div>

{% endblock %}